# raw data to clean data conversion using python EDA

In [1]:
import pandas as pd

In [6]:
emp = pd.read_excel(r'D:\full stack ds naresh it\Notes and info\EDA\Rawdata.xlsx')A

In [7]:
emp

     Name          Domain       Age   Location   Salary      Exp
0    Mike   Datascience#$  34 years     Mumbai   5^00#0       2+
1  Teddy^         Testing    45' yr  Bangalore  10%%000       <3
2   Uma#r  Dataanalyst^^#       NaN        NaN  1$5%000   4> yrs
3    Jane     Ana^^lytics       NaN   Hyderbad   2000^0      NaN
4  Uttam*      Statistics     67-yr        NaN   30000-  5+ year
5     Kim             NLP      55yr      Delhi  6000^$0      10+

In [ ]:
emp.columns

In [ ]:
emp.shape

In [ ]:
emp.head()

In [ ]:
emp.tail()

In [ ]:
emp.info()

In [ ]:
emp

In [ ]:
emp['Domain']

In [ ]:
emp.isnull()

In [ ]:
emp.isnull().sum()

In [ ]:
emp['Name']

In [ ]:
emp['Name'] = emp['Name'].str.replace(r'\W','')

In [ ]:
emp['Name']

In [ ]:
emp['Domain']

In [ ]:
emp['Domain'] = emp['Domain'].str.replace(r'\W','')

In [ ]:
emp['Domain']

In [ ]:
emp

In [ ]:
emp['Age'] = emp['Age'].str.replace(r'\W','')

In [ ]:
emp['Age']

In [ ]:
emp['Age'] = emp['Age'].str.extract('(\d+)')

In [ ]:
emp['Age']

In [ ]:
emp

In [ ]:
emp['Location'] = emp['Location'].str.replace(r'\W','')

In [ ]:
emp['Location']

In [ ]:
emp['Salary']

In [ ]:
emp['Salary'] = emp['Salary'].str.replace(r'\W','')

In [ ]:
emp['Salary']

In [ ]:
emp

In [ ]:
emp['Exp']

In [ ]:
emp['Exp'] = emp['Exp'].str.extract('(\d+)')

In [ ]:
emp['Exp']

In [ ]:
emp

In [ ]:
clean_data = emp.copy()

#### till now we have raw data we use regex to clean the data and removed all noise characted from the dataset 
#### you can also work in same things in sql query as well

- missing values treatment for numerical data

In [ ]:
clean_data

In [ ]:
clean_data['Age']

In [ ]:
import numpy as np

In [ ]:
clean_data['Age'] = clean_data['Age'].fillna(np.mean(pd.to_numeric(clean_data['Age'])))

In [ ]:
clean_data['Age']

In [ ]:
clean_data['Exp']

In [ ]:
clean_data['Exp'] = clean_data['Exp'].fillna(np.mean(pd.to_numeric(clean_data['Exp'])))

In [ ]:
clean_data['Exp']

In [ ]:
clean_data

In [ ]:
clean_data['Location'].isnull().sum()

In [ ]:
clean_data['Location']

In [ ]:
clean_data['Location'] = clean_data['Location'].fillna(clean_data['Location'].mode()[0])

In [ ]:
clean_data['Location']

In [ ]:
clean_data

In [ ]:
clean_data.info()

In [ ]:
clean_data['Age'] = clean_data['Age'].astype(int)

In [ ]:
clean_data.info()

In [ ]:
clean_data['Salary'] = clean_data['Salary'].astype(int)
clean_data['Exp'] = clean_data['Exp'].astype(int)

In [ ]:
clean_data.info()

In [ ]:
clean_data['Name'] = clean_data['Name'].astype('category')
clean_data['Domain'] = clean_data['Domain'].astype('category')
clean_data['Location'] = clean_data['Location'].astype('category')

In [ ]:
clean_data.info()

In [ ]:
clean_data

In [ ]:
clean_data.to_csv('clean_data.csv')

In [ ]:
import os
os.getcwd()

In [ ]:
clean_data

# EDA TECHNIQUE LETS APPLY

In [ ]:
import matplotlib.pyplot as plt # visualization
import seaborn as sns

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
clean_data['Salary']

In [ ]:
vis1 = sns.distplot(clean_data['Salary'])

In [ ]:
vis2 = plt.hist(clean_data['Salary'])

In [ ]:
vis4 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary')

In [ ]:
vis5 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary', fit_reg = False)

In [ ]:
clean_data[:]

In [ ]:
clean_data[0:6:2]

In [ ]:
clean_data[::-1]

In [ ]:
clean_data.columns

In [ ]:
X_iv = clean_data[['Name', 'Domain', 'Age', 'Location', 'Exp']]

In [ ]:
X_iv

In [ ]:
y_dv = clean_data[['Salary']]

In [ ]:
y_dv

In [ ]:
emp

In [ ]:
clean_data

In [ ]:
X_iv

In [ ]:
y_dv

In [ ]:
clean_data

In [ ]:
imputation = pd.get_dummies(clean_data)

In [ ]:
imputation

In [ ]:
clean_data

In [ ]:
imputation

### raw data with lot of regex, missing, uncleandata
### regex, clean 
## fill missing numerical & cateigroica
## clean_dataset ( data cleaning) 3 month - 5mont
## outlier treatement, univati, bivariate, corelation 
## split the data into x_i.v & y_dv
## impute cateogrica data to numerical 
## eda part complete

# Next step 
- we splitn x_iv -- x_train, x_test
- we split y_dv -- y_train, y_test
- build the ml model with x_train & y_train