## functions

A function is a block of code which only runs when it is called.
A function can return data as a result.
A function helps avoiding code repetition.
functions are set of code which once created they can be used throughout the program
functions help break programs in smaller paerts
two type in built function and user defined functions

Function Names
A function name must start with a letter or underscore
A function name can only contain letters, numbers, and underscores
Function names are case-sensitive (myFunction and myfunction are different)

In [5]:
def hello():                     #defining a function
    print("hello i am human")
    print("i am alive")
hello()                        #calling a function

hello i am human
i am alive

In [6]:
hello()
hello()

hello i am human
i am alive
hello i am human
i am alive

In [12]:
def add():
    x=20
    y=30
    print(x+y)
add()

50

In [15]:
def add(x,y):
    c=x+y
    print(c)
add(2,6)

8

In [16]:
def add(x,y):
    print(x+y)
add(2,6)

8

In [13]:
def nothing():             #pass skips error who you dont write anything
    pass

In [37]:
def mul(x,y):
    c=x*y
    return c
result=mul(5,4)
print(result)

20

In [38]:
def mul(x,y):
    c=x*y
    return c
print(mul(6,4))

24

In [11]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(2,6)
print(result1,result2)

8 -4

In [14]:
def update(x):
    x=8
    print(x)

parameters are the variables written inside parentheses with name of function

aruments are the values passed to paremeter while calling the function

In [19]:
def add(x,y):    #x,y are parameters   
    c=x+y
    print(c)
add(7,9)        # 7,9 are arguments

16

In [ ]:
#types of arguments 
# positional
# default
# keyword
# variable length

In [25]:
def add(a,b):     #formal arguments
    c=a+b
    print(c)
add(7,3)    #actual arguments: position,keyword,default,variable length

10

In [26]:
def person(name,age):      #positional
    print(name)
    print(age)
person('sai',22)

sai
22

In [27]:

def person(name,age):   
    print(name)
    print(age)
person(name='kiran',age=22)   #keyword arguments

kiran
22

In [31]:
def person(name='student',age=20):   #default arguments
    print(name)
    print(age)
person()             #person()    -name and age are required arguments
person('nikhil')    #takes default argument when age not mentioned

student
20
nikhil
20

In [32]:
#*args and **kwargs allow functions to accept a unknown number of arguments

def sum(a,*b):
    print(a)
    print(b)
sum(2,53,64,23,54,23)        # *b store the values in the form of tuple

2
(53, 64, 23, 54, 23)

In [49]:
def my_function(*kids):             #arbitart args - *args
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [33]:
def sum(*b):    #variable length argument(tuple)       we can pass multiple values
    print(b)
    c=0          #counter
    for i in b:
        c=c+i
    print(c)
sum(5,6,20,30,2.5)

(5, 6, 20, 30, 2.5)
63.5

In [36]:
def employee(name,**data)  :  #keyworded variable length argument
    print(name)                  #(dictionary)
    print(data)

employee('sai',age=20,id=123,city='goa')
#or

def name(**name):
    print("hello,",name['lname'],name['fname'])
name(fname='sai',lname='chand')

sai
{'age': 20, 'id': 123, 'city': 'goa'}
hello, chand sai

In [40]:
#pass list to function

def count(lst):
    even=0
    odd=0
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
    return even,odd
lst=[1,2,3,4,5,6,7,8,97,45]
even,odd=count(lst)
print("even :{} and odd:{}".format(even,odd))

even :6 and odd:4

In [45]:
#f-string
letter='hey my name is {} and i am from{}'
name='sai'
country='india'
print(letter.format(country,name))
print(f"hey my name is {name} and from {country}")
print(f"hey my name is {country} and from {name}")

hey my name is india and i am fromsai
hey my name is sai and from india
hey my name is india and from sai

In [46]:
print(f"hey my name is {} and from {}")

SyntaxError: f-string: valid expression required before '}' (1069732390.py, line 1)

In [47]:
#docsstring                   #like giving name or what the function is about
#written in function body just above function body or below function name
def square(n):
    '''hi this is square'''
    print(n**2)
square(4)
print(square.__doc__)

16
hi this is square

## global and local variable

In [48]:
a=10     #global variable
print(id(a))

def hello():
   #global a     #makes the local a to global variable a
    a=5        #local variable
    x=globals()['a']    #all the global variables
    print(id(x))
    print(x)
    print('local a is',a)
    globals()['a']=20       #to modify global inside a functin
hello()
print(a)

140716862059720
140716862059720
10
local a is 5
20

In [61]:
#recurssion means a function calling itself

def name():
    print("my name")
    name()              #it will call again and again
name()     #prints many my names

_IncompleteInputError: incomplete input (3135990895.py, line 6)

# lambda function

In [14]:
#lambda arguments : expression
# it is used when an anonymous function required for short period o time
# can have only have one expression and 
# can have multiple arguments
def square(a):
    return a*a
result=square(5)
print(result)

25

In [52]:
f= lambda a: a*a
result=f(5)
print(result)

25

In [15]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [7]:
f= lambda a,b,c : (a+b)*c
print(f(3,6,3))

27

In [24]:
def myfunc(n):
  return lambda a : a * n
result=myfunc(2)
print(result(5))

10

In [57]:
#enumerate
marks=[12,56,32,98,12,45,1,4]
index=0
for mark in marks:
    print(mark)
    if(index ==3):
        print('awsome')
    index+=1

12
56
32
98
awsome
12
45
1
4

In [59]:
marks=[12,56,32,98,12,45,1,4]
for index,mark in enumerate(marks):

    print(mark)
    if(index ==3):
        print('awsome')
    index+=1

12
56
32
98
awsome
12
45
1
4

In [60]:
'''in built modules
datetime
import datetime

random
import random 

math
import math

'''

# map reduce filter

In [9]:
#filter() function creates a list of items for which a function returns True:

nums=[3,5,3,5,67,8,3,2,4,6,8]
def is_even(n):
    return n%2==0
evens=list(filter(is_even,nums))          #filter
print(evens)

[8, 2, 4, 6, 8]

In [13]:
nums=[3,5,3,5,67,8,3,2,4,6,8]
evens=list(filter(lambda n: n%2==0,nums))     #using lambda
print(evens)

[8, 2, 4, 6, 8]

In [27]:
#map() function applies a function to every item in an iterable:

def update(n):
    return n*2
nums=[3,5,3,5,67,8,3,2,4,6,8]
evens=list(filter(lambda n: n%2==0,nums))
doubled=list(map(update,evens))              #map
print(doubled)

[16, 4, 8, 12, 16]

In [28]:
nums=[3,5,3,5,67,8,3,2,4,6,8]
evens=list(filter(lambda n: n%2==0,nums))
doubled=list(map(lambda n: n*2,evens))              #map  using lambda
print(doubled)

[16, 4, 8, 12, 16]

In [30]:
#reduce  we should import the reduce 
from functools import reduce

def addall(a,b):
    return a+b
nums=[3,5,3,5,67,8,3,2,4,6,8]
evens=list(filter(lambda n: n%2==0,nums))
doubled=list(map(lambda n: n*2,evens))
sum=reduce(addall,doubled)                    #reduce
print(sum)

56

In [31]:
nums=[3,5,3,5,67,8,3,2,4,6,8]
evens=list(filter(lambda n: n%2==0,nums))
doubled=list(map(lambda n: n*2,evens))
sum=reduce(lambda a,b: a+b,doubled)                    #reduce using lambda
print(sum)

56

In [33]:
#sorted

nums=[3,5,3,5,67,8,3,2,4,6,8]
sorted_nums=sorted(nums)
sorted_nums

[2, 3, 3, 3, 4, 5, 5, 6, 8, 8, 67]

In [35]:
names=['gsyxb','ygdcycyu','u','dc']
sorted_nums=sorted(names,key=lambda x:len(x))
sorted_nums

['u', 'dc', 'gsyxb', 'ygdcycyu']

# decorators

In [39]:
def hello():
    print("hello world")        
hello()

hello world

In [42]:
#Decorators let you add extra behavior to a function, without changing the function's code.

def greet(fx):
    def mfx():
        print("good morning")
        fx()
        print("thanks for using this function")
    return mfx
@greet
def hello():
    print("hello world")        

hello()

good morning
hello world
thanks for using this function

 # modules

In [43]:
# Consider a module to be the same as a code library.
# A file containing a set of functions you want to include in your application.

In [47]:
#creation of modules

#demo.py        #written in a file
def add(x,y):
    return (x+y)

In [49]:
#another file add.py

#import demo
#a=demo.add(2,3)
#print(a)

# f-strings / format

In [51]:
letter = "Hey my name is {} and I am from {}"
country = "India"
name = "Harry"

print(letter.format(name,country))        #format

Hey my name is Harry and I am from India

In [50]:
letter = "Hey my name is {} and I am from {}"
country = "India"
name = "Harry"

print(letter.format(country, name))           #when given in diff order

Hey my name is India and I am from Harry

In [52]:
letter = "Hey my name is {1} and I am from {0}"     #can fix by numbering
country = "India"
name = "Harry"

print(letter.format(country, name))

Hey my name is Harry and I am from India

In [53]:
letter = "Hey my name is {1} and I am from {0}"
country = "India"
name = "Harry"

print(letter.format(country, name))
print(f"Hey my name is {name} and I am from {country}")
print(f"We use f-strings like this: Hey my name is {{name}} and I am from {{country}}")

Hey my name is Harry and I am from India
Hey my name is Harry and I am from India
We use f-strings like this: Hey my name is {name} and I am from {country}

In [54]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [55]:
price = 59
txt = f"The price is {price:.2f} dollars"        #display upto two decimals
print(txt)

The price is 59.00 dollars

In [56]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

In [57]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# docs string

In [59]:
def square(n):
    '''takes in a number n, return the square of n'''       #like a heading to function
    print(n**2)
square(5)

25

In [61]:
def square(n):
    '''takes in a number n, return the square of n'''  #immediatly below function name or above function body
    print(n**2)
square(5)
print(square.__doc__)

25
takes in a number n, return the square of n

# pip

In [63]:
#PIP is a package manager for Python packages, or modules if you like.

# #in command prompt  - pip install camelcase
# import camelcase
# c = camelcase.CamelCase()
# txt = "hello world"
# print(c.hump(txt))
# #in command prompt  - pip uninstall camelcase

#pip list - lists all the packages

# recursion

In [64]:
#function calling itself

# factorial(7) = 7*6*5*4*3*2*1
# factorial(6) = 6*5*4*3*2*1
# factorial(5) = 5*4*3*2*1
# factorial(4) = 4*3*2*1
# factorial(0) = 1


# factorial(n) = n * factorial(n-1)
def factorial(n):
  if (n == 0 or n == 1):
    return 1
  else:
    return n * factorial(n - 1)


print(factorial(5))

120

In [65]:
print(factorial(10))
print(factorial(12))

3628800
479001600

# exception handling

In [66]:
# The try block lets you test a block of code for errors.
# The except block lets you handle the error.
# The else block lets you execute code when there is no error.# The finally block lets you execute code, regardless of the result of the try- and except blocks

In [69]:
a = input("Enter the number: ")
print(f"Multiplication table of {a} is: ")

for i in range(1, 11):
    print(f"{int(a)} X {i} = {int(a)*i}")

print("impt lines")

Enter the number:  5

Multiplication table of 5 is:
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
impt lines

In [70]:
a = input("Enter the number: ")
print(f"Multiplication table of {a} is: ")

for i in range(1, 11):
    print(f"{int(a)} X {i} = {int(a)*i}")

Enter the number:  sai

Multiplication table of sai is:

ValueError: invalid literal for int() with base 10: 'sai'

In [72]:
try:
  print(x)
except:
  print("An exception occurred")

<function <lambda> at 0x000001F48E53FE20>

In [74]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [71]:
a = input("Enter the number: ")
print(f"Multiplication table of {a} is: ")
try:
  for i in range(1, 11):
    print(f"{int(a)} X {i} = {int(a)*i}")
except:
  print("Invalid  Input!")

print("Some imp lines of code")
print("End of program")

Enter the number:  sai

Multiplication table of sai is:
Invalid  Input!
Some imp lines of code
End of program

In [76]:
try:
    num = int(input("Enter an integer: "))
    a = [6, 3]
    print(a[num])
except ValueError:
    print("Number entered is not an integer.")
    
except IndexError:
  print("Index Error")

Enter an integer:  55

Index Error

In [77]:
try:
  print(x)
except:
  print("Something went wrong")
finally:                                  #finally gets executed always
  print("The 'try except' is finished")

<function <lambda> at 0x000001F48E53FE20>
The 'try except' is finished

In [78]:
#raising custom error
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")     #using raise keyword

Exception: Sorry, no numbers below zero

# short hand if else

In [81]:
a=100
b=300
print("A") if a>b else print("=") if a==b else print("B")

B

In [82]:
c= 9 if a>b else 0
c

0

In [85]:
print(9) if a>b else 0

0

# enumerate

In [88]:
marks=[12,56,32,98,12,45,1,4]        #built in function
index=0                             #loop over a sequence and get index and value of each elemnt at same time
for mark in marks:
    print(mark)
    if(index ==3):
        print('awsome')
    index+= 1

12
56
32
98
awsome
12
45
1
4

In [89]:
for index,mark in enumerate(marks):
    print(mark)
    if(index ==3):
        print('awsome')

12
56
32
98
awsome
12
45
1
4

In [90]:
# import pandas
# import pandas as pd
# from math import *
# from math import pi,sqrt
# from math import pi,sqrt as m

# print(dir(math))        #shows what all functions are importing

# name special variable

In [ ]:
# demo file
# def welcome():
#     print("welcome")

# print(__name__)              #prints __main__ means its main is in this file
# if __name__=="__main__":
    
# calc file
# import calc
# print(__name__)            #prints demo 
# calc.welcome()

In [91]:
# is compares the location
# == compares the value
# both are comparision operators

a=4
b="4"

print(a is b)
print(a == b)

False
False

In [92]:
a=[1,2,45]
b=[1,2,45]

print(a is b)
print(a == b)

False
True

In [94]:
a=(1,2,45)
b=(1,2,45)

print(a is b)
print(a == b)

False
True